<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="arcade" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    <add key="dotnet-public" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public/nuget/v3/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
    <add key="dotnet6" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json" />
    <add key="PipelineTools" value="https://pkgs.dev.azure.com/mseng/PipelineTools/_packaging/nugetvssprivate/nuget/v3/index.json" />
    <add key="BuildXL" value="https://1essharedassets.pkgs.visualstudio.com/_packaging/BuildXL/nuget/v3/index.json" />
    <add key="BuildXL.Internal" value="https://1essharedassets.pkgs.visualstudio.com/_packaging/BuildXL.Internal/nuget/v3/index.json" />
    <add key="Packaging" value="https://1essharedassets.pkgs.visualstudio.com/_packaging/Packaging/nuget/v3/index.json" />
    <add key="AnyBuildInternal" value="https://pkgs.dev.azure.com/mseng/Domino/_packaging/AnyBuildInternal/nuget/v3/index.json" />
    <add key="ArtifactTool" value="https://pkgs.dev.azure.com/mseng/_packaging/ArtifactTool/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
</configuration>
